{% extends 'base.html' %}
{% block content %}
{% load app %}
<div class="wrapper row-offcanvas row-offcanvas-left">
  <!-- Left side column. contains the logo and sidebar -->
  {% include 'snippets/sidebar.html' %}

  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Offers
      </h1>
      <ol class="breadcrumb">
        <!--
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                -->
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <form action='' method='POST'>
        {% csrf_token %}
        <!-- Map box -->
        <div class="box box-solid box-success">
          <div class="box-header">
            <!-- tools box -->
            <ul class="nav nav-tabs pull-right">
              <li><a href="">SKIP</a></li>
            </ul>

            <i class="fa fa-comments-o"></i>
            <h3 class="box-title">Create New Campaigns</h3>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>Campaign Name</label>
              <input type="text" class="form-control" name='name' placeholder="Enter a descriptive name...">
            </div>
            <div class='form-group'>
              <label>Campaign</label>
              <div class='well'>
                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label>Fingerprints</label>
                      <select name='fingerprints' multiple="" class="form-control">
                        {% for fingerprint in request.user.company.fingerprints %}
                        <option>{{ fingerprint.name.0 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label>Offers</label>
                      <select name='offers' multiple="" class="form-control">
                        {% for offer in request.user.company.offers %}
                        <option>{{ offer.name.0 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label>Triggers</label>
                      <select name='triggers' multiple="" class="form-control">
                        <option selected>Home</option>
                        <option>Work</option>
                        <option>Store</option>
                        <option>Current</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group">
                      <label>Emotions</label>
                      <select multiple name='emotions' class="form-control">
                        <option selected>Happy</option>
                        <option>Sad</option>
                        <option>Irritable</option>
                        <option>Fatigue</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label>Campaign</label>
              <div class='well'>
                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label>Budget</label>
                      <input type="text" id='budget' name='budget' class="form-control" placeholder="Budget">
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label>Fees</label>
                      <input type="text" id='feeds' name='fees' class="form-control" placeholder="Feeds">
                    </div>
                  </div>
                  <div class="col-xs-6" style='text-align: right;'>
                    <div class="form-group">
                      <label>Target Audience</label>
                      <span style='display: block;'>$<span style='color: #436637;font-size: 28px;'  id='audience'>0</span></span>
                      <input type='hidden' name='audience' id='audience-input' />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button class="btn btn-info"><i class="fa fa-download"></i> Create</button>
              <a class="btn btn-warning" href='{% url 'dashboard' %}'><i class="fa fa-bug"></i> Next Step</a>
            </div>
          </div>
        </div>
      </form>
    </section><!-- right col -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->
<script type='text/javascript' src='{{ STATIC_URL }}js/plugins/bootstrap-slider/bootstrap-slider.js'></script>
<script type='text/javascript'>
var count = 1000000;
var cost = .5;
$(function() {

    $("#budget").blur(function() {
        var amount = $(this).val();
        console.log(amount/cost)
        $("#audience").html(amount/cost)
        $("#audience-input").val(amount/cost)
        $("#feeds").val(amount*0.01)
    });

    $("#coupon-select").click(function() {
        $(".gift-card").hide();
        $(".coupon-box").slideDown();
      });

    $("#gift-select").click(function() {
        $(".coupon-box").hide();
        $(".gift-card").slideDown();
      });

    $("#ex2").slider({});
    $("#ex2").on("slide", function(slideEvt) {
      $("#ex6SliderVal").text(slideEvt.value);
    });

    $("#ex3").slider({});
    $("#ex3").on("slide", function(slideEvt) {
      $("#ex7SliderVal").text(slideEvt.value);
    });


});
</script>
{% endblock %}
